section.multimedia
	h2 Multimedia
	ul.accordion-tabs-minimal
		li.tab-header-and-content
			a.tab-link.is-active(href='#'): h3 Imagenes
			.tab-content
				a(href="#casosClinicos").galeria
					img(src="assets/img/multimedia/casos_clinicos/CasoClinico.jpg", alt="")
					.contxt
						h5 Casos Clinicos
						p	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam rerum, accusamus laboriosam.

				a(href="#conferencias").galeria
					img(src="assets/img/multimedia/conferencia/conferencia.jpg", alt="")
					.contxt
						h5 Conferencias
						p	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam rerum, accusamus laboriosam.

				.none
					include ../_includes/galeria-casosClinicos
					include ../_includes/galeria-conferencias

			li.tab-header-and-content
				a.tab-link(href='#'): h3 Videos
				.tab-content
					iframe(width="315" height="236" src="https://www.youtube.com/embed/DanJzUi47zM" frameborder="0" allowfullscreen)
					iframe(width="315" height="236" src="https://www.youtube.com/embed/yLjAAal-EBU" frameborder="0" allowfullscreen)
					iframe(width="315" height="236" src="https://www.youtube.com/embed/aUfMi5LPjZE" frameborder="0" allowfullscreen)
					iframe(width="315" height="236" src="https://www.youtube.com/embed/h7gCWo1b7ZA" frameborder="0" allowfullscreen)


			
	
	

