section.multimedia
	h2 Multimedia
	ul.accordion-tabs-minimal
		li.tab-header-and-content
			a.tab-link.is-active(href='#'): h3 Imagenes
			.tab-content
				a(href="#seminarios").seminarios.galeria
					img(src="assets/img/medicos.jpg", alt="")
					.contxt
						h5 Seminarios
						p	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam rerum, accusamus laboriosam.

				a(href="#seminarios").seminarios.galeria
					img(src="assets/img/medicos.jpg", alt="")
					.contxt
						h5 Seminarios
						p	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere magni rerum quod.

				a(href="#seminarios").seminarios.galeria
					img(src="assets/img/medicos.jpg", alt="")
					.contxt
						h5 Seminarios
						p	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt eum modi minus?

				a(href="#seminarios").seminarios.galeria
					img(src="assets/img/medicos.jpg", alt="")
					.contxt
						h5 Seminarios
						p	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus dolore, autem vero.

				a(href="#seminarios").seminarios.galeria
					img(src="assets/img/medicos.jpg", alt="")
					.contxt
						h5 Seminarios
						p	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium minima officiis sit?

				.none
					#seminarios.slider
						h2 Seminarios
						ul#slide-nav1.slide-nav
							li: a(href="#"): img(src="http://loremflickr.com/200/180?random=1", alt="")
							li: a(href="#"): img(src="http://loremflickr.com/200/120?random=2", alt="")
							li: a(href="#"): img(src="http://loremflickr.com/200/180?random=3", alt="")
							li: a(href="#"): img(src="http://loremflickr.com/200/180?random=4", alt="")
						ul#slide1.slide
							li: img(src="http://loremflickr.com/200/180?random=1", alt="")
							li: img(src="http://loremflickr.com/200/120?random=2", alt="")
							li: img(src="http://loremflickr.com/200/180?random=3", alt="")
							li: img(src="http://loremflickr.com/200/180?random=4", alt="")
			li.tab-header-and-content
				a.tab-link(href='#'): h3 Videos
				.tab-content
					iframe(width="315" height="236" src="https://www.youtube.com/embed/DanJzUi47zM" frameborder="0" allowfullscreen)
					iframe(width="315" height="236" src="https://www.youtube.com/embed/yLjAAal-EBU" frameborder="0" allowfullscreen)
					iframe(width="315" height="236" src="https://www.youtube.com/embed/aUfMi5LPjZE" frameborder="0" allowfullscreen)
					iframe(width="315" height="236" src="https://www.youtube.com/embed/h7gCWo1b7ZA" frameborder="0" allowfullscreen)


			
	
	

