section.sedes
	h2 Sedes
	article.sede
		.cont-txt
			h3 INSTITUTO CODAS THOMPSON 
			p Avenida Mariscal Francisco Solano López 2955, Asunción, Paraguay.
			p 
				strong Para turnos:
				| +595 21 600 624
			p: strong Días para reserva de turno y atención
			p
				strong Lunes a viernes
				|  7:30 a 14:00hs. 
				strong Sábados 
				|  7:45 a 11:30hs
			p: i Con Olivia Estigarribia.

		.mapa#codasThompson
	hr

	article.sede
		.cont-txt
			h3 SANATORIO BRITÁNICO
			p Avda. Gaspar Rodrguez de Francia 910 c/ Parapiti.
			p 
				strong Tel:
				|  418 0000 6to. piso.
			p 
				strong Consultas para asegurados de Seg. Santa Clara.
			p 
				strong Lunes:
				|  10:00 a 12:00hs
			p 
				strong Martes:
				|  13:00 a 15:00hs.
			p 
				strong Jueves:
				|  10:00 a 12:00hs y de 15:00 a 17:00hs.

		.mapa#sanatorioBritanico
	hr

	article.sede
		.cont-txt
			h3 CONSULTORIO MÉDICO GÉNESIS
			p Mayor Bullo 315 c/ Mcal. Estigarribia.
			p
				strong Tel: 
				|  (021) 228 560/4
				strong Para reserva de turno.
			o
				strong Lunes a viernes 
				|  15:00 a 18:45 hs.
			p Con Ruth Calcena.
			p: strong Seguros: 
			p Seguro Migone c/ copago.
			p Seguro OAMI c/ copago. Días de consultas.
			p Lunes, miércoles y viernes.

		.mapa#consultorioGenesis
	hr
