section.servicios
	h2 Servicios
	//- p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis blanditiis doloribus rerum voluptates dignissimos dicta iste impedit pariatur quaerat magni dolorem, ducimus ab esse omnis similique cupiditate eligendi error earum.
	article.servicio.is-hidden
		h3: span VIDEO ENDOSCOPÍA DIGESTIVA ALTA.
			br
			| DIAGNÓSTICA & TERAPÉUTICA
		.cont-txt
			p Es un procedimiento endoscópico que permite examinar la cara interna de la parte alta del tracto gastrointestinal, compuesto por el esófago, el estómago y el duodeno. Se utiliza un tubo delgado y flexible llamado endoscopio, que posee una lente propia y cámara de televisión integrada a un circuito computarizado digital. El mismo es colocado por la boca para la visualización de la mucosa y/o la grabación del estudio para su archivo y la toma de fotos (si fuera necesario ante la presencia de alguna patología).
	article.servicio
		h3.title: span VIDEO COLONOSCOPÍA.
			br
			|DIAGNÓSTICA & TERAPÉUTICA
		.cont-txt
			p Es un procedimiento endoscópico que permite examinar el colon para detectar anormalidades. Se utiliza un tubo delgado y flexible llamado colonoscopio, que posee una lente propia y cámara de televisión integrada a un circuito computarizado digital. El mismo es colocado por el ano para la visualización de la mucosa colónica y/o la grabación del estudio para su archivo y la toma de fotos (si fuera necesario ante la presencia de alguna patología).
	article.servicio
		h3.title: span COLANGIOGRAFÍA ETROGRADA ENDOSCÓPICA.
			br
			| DIAGNÓSTICA & TERAPÉUTICA
		.cont-txt
			p Colangiografía Retrógrada Diagnóstica
	article.servicio
		h3.title: span ESTUDIOS BARIÁTRICOS
		.cont-txt
			ul
				li Videoendoscopía Digestiva Alta con Dilatación 
				li Videoendoscopía Digestiva Alta con Colocación de Balón Intragástrico 
				li Videoendoscopía Digestiva Alta con Extracción de Balón Intragástrico
	article.servicio
		h3.title: span BALÓN INTRAGÁSTRICO
		.cont-txt
			p BALÓN INTRAGÁSTRICO
	article.servicio
		h3.title: span ESTUDIOS ENDOSCÓPICOS DE ALTA COMPLEJIDAD
		.cont-txt
			ul
				li Videoendoscopía Digestiva Alta con Colocación de Set de Varices 
				li Videoendoscopía Digestiva Alta con Esclerosis de Várices Gástricas con Cianoacrilato 
				li Videoendoscopía Alta con Dilatación por Patología Acalasia
				li Videoendoscopía Digestiva Alta con PH Metría con Cápsula Bravo
				li Mucosectomía Gástrica 
				li Mucosectomía Esofágica 
				li Mucosectomía Colónica 
				li Tumorectomía Gástrica 
				li Tumorectomía Esofágica 
				li Tumorectomía Colónica 
				li Gastrostomía Endoscópica 
				li Recambio de Gastrostomía Endoscópica 
				li Colocación de Stent Metálico 
				li Extracción o Recambio de Stent Metálico 
				li Cierre de Fístula 
				li Colangiografía Retrógrada Diagnóstica 
				li Colangiografía Retrógrada Terapéutica (con Papilotomía) 
				li Colangiografía Retrógrada con Colocación Stent 
				li Halo Radiofrecuencia
