
// Blockquote
// ––––––––––––––––––––––––––––––––––––––––––––––––––

blockquote {
	// border-left: 0.3rem solid $color-quaternary;
	margin-left: 0;
	margin-right: 0;
	padding: 1rem 1.5rem;
	font-style: italic;
	color: $color-primary;
	text-align: center;
	font-size: 1.45em;
	// &:before{
	// 	content: '“';
	// }&:after{
	// 	content: '”';
	// }

	& *:last-child {
		margin: 0;
	}
}
