section.contactos
	blockquote Contacte con nosotros completando el siguiente formulario
	.iconos
		a(href="#")
			i.fa.fa-phone-square
		a(href="#")
			i.fa.fa-envelope
		a(href="#")
			i.fa.fa-user-md
	form
		.label
			label Nombre
			input(type="text")
		.label
			label E-mail
			input(type="text")
		.label
			label Asunto
			input(type="text")
		.label
			label Mensaje
			textarea
		.boton
			a(href="#") Enviar