footer
	.footer-info
		ul.sedes
			h4 Sedes:
			li: a(href="#")
				i.fa.fa-map-marker
				| Instituto Codas Thompson
			li: a(href="#")
				i.fa.fa-map-marker
				| Sanatorio Británico
			li: a(href="#")
				i.fa.fa-map-marker
				| Consultorio Médico Génesis

		ul.telEmail
			li: a(href="#")
				i.fa.fa-phone
				| 021 213 534, 021 039 054
			li: a(href="#")
				i.fa.fa-envelope
				| email@contactos.com.py
	aside.fincreativo
		p 2016 © Grupo CG. Todos los derechos reservados. Desarrollado por 
			a(href="#") FINCREATIVO