.slider#conferencias
	h2 Conferencia
	ul#slide-nav2.slide-nav
		li: a(href="#"): img(src="assets/img/multimedia/conferencia/conferencia.jpg", alt="")
		li: a(href="#"): img(src="assets/img/multimedia/conferencia/conferencia2.jpg", alt="")
	ul#slide2.slide
		li: img(src="assets/img/multimedia/conferencia/conferencia.jpg", alt="")
		li: img(src="assets/img/multimedia/conferencia/conferencia2.jpg", alt="")