.slider#casosClinicos
	h2 Casos Clinicos
	ul#slide-nav1.slide-nav
		li: a(href="#"): img(src="assets/img/multimedia/casos_clinicos/CasoClinico.jpg", alt="")
		li: a(href="#"): img(src="assets/img/multimedia/casos_clinicos/CasoClinico2.jpg", alt="")
		li: a(href="#"): img(src="assets/img/multimedia/casos_clinicos/CasoClinico3.jpg", alt="")
		li: a(href="#"): img(src="assets/img/multimedia/casos_clinicos/CasoClinico4.jpg", alt="")
		li: a(href="#"): img(src="assets/img/multimedia/casos_clinicos/CasoClinico5.jpg", alt="")
		li: a(href="#"): img(src="assets/img/multimedia/casos_clinicos/CasoClinico6.jpg", alt="")
		li: a(href="#"): img(src="assets/img/multimedia/casos_clinicos/CasoClinico7.jpg", alt="")
		li: a(href="#"): img(src="assets/img/multimedia/casos_clinicos/CasoClinico8.jpg", alt="")
		li: a(href="#"): img(src="assets/img/multimedia/casos_clinicos/CasoClinico9.jpg", alt="")
		li: a(href="#"): img(src="assets/img/multimedia/casos_clinicos/CasoClinico10.jpg", alt="")
		li: a(href="#"): img(src="assets/img/multimedia/casos_clinicos/CasoClinico11.jpg", alt="")
		li: a(href="#"): img(src="assets/img/multimedia/casos_clinicos/CasoClinico13.jpg", alt="")
		li: a(href="#"): img(src="assets/img/multimedia/casos_clinicos/CasoClinico14.jpg", alt="")
	ul#slide1.slide
		li: img(src="assets/img/multimedia/casos_clinicos/CasoClinico.jpg", alt="")
		li: img(src="assets/img/multimedia/casos_clinicos/CasoClinico2.jpg", alt="")
		li: img(src="assets/img/multimedia/casos_clinicos/CasoClinico3.jpg", alt="")
		li: img(src="assets/img/multimedia/casos_clinicos/CasoClinico4.jpg", alt="")
		li: img(src="assets/img/multimedia/casos_clinicos/CasoClinico5.jpg", alt="")
		li: img(src="assets/img/multimedia/casos_clinicos/CasoClinico6.jpg", alt="")
		li: img(src="assets/img/multimedia/casos_clinicos/CasoClinico7.jpg", alt="")
		li: img(src="assets/img/multimedia/casos_clinicos/CasoClinico8.jpg", alt="")
		li: img(src="assets/img/multimedia/casos_clinicos/CasoClinico9.jpg", alt="")
		li: img(src="assets/img/multimedia/casos_clinicos/CasoClinico10.jpg", alt="")
		li: img(src="assets/img/multimedia/casos_clinicos/CasoClinico11.jpg", alt="")
		li: img(src="assets/img/multimedia/casos_clinicos/CasoClinico13.jpg", alt="")
		li: img(src="assets/img/multimedia/casos_clinicos/CasoClinico14.jpg", alt="")