nav.menu
	ul.nav.oknav
		li: a(href="QuienesSomos.html") Quiénes somos
		li: a(href="Servicios.html") Servicios
		li: a(href="Sedes.html") Sedes
		li: a(href="Multimedia.html") Multimedia
		li: a(href="Docencia_e_Investigacion.html") Docencia e invetigación
		li: a(href="Calidad.html") Calidad 
		li: a(href="Cobertura.html") Cobertura
		li: a(href="Contactos.html") Contactos
