include blockquote 
section.quienesSomos
	article.nosotros
		.cont-txt
			p Dedicado a la prevención y atención de pacientes con enfermedades digestivas, a la capacitación de especialistas - en un marco de permanente actualización tecnológica y científica -, a la formación de indicadores y normas de la especialidad - manteniendo su actividad dentro de los parámetros éticos y dignos, para los pacientes y todos los integrantes de la Institución.
			p Tenemos un staff de profesionales altamente capacitados, que atienden pacientes de todas partes del Paraguay , por diversos motivos: desde un simple dolor abdominal hasta una enfermedad severa que necesita diagnóstico, requiere tratamiento y seguimiento especializado.
		figure: +img('','medicos','jpg')

	section.staff
		section.doctores
			h3 Directores
			.doctores-wrapper
				+doc('Prof. Dr','doc1','Blasco','#')

		section.doctores
			h3 STAFF MÉDICO
			.doctores-wrapper
				+doc('Prof. Dr','doc1','Blasco','#')
				+doc('Prof. Dr','doc2','Blasco','#')
				+doc('Prof. Dr','doc1','Blasco','#')

		section.doctores
			h3 ANESTESIÓLOGOS
			.doctores-wrapper
				+doc('Prof. Dr','doc1','Blasco','#')
				+doc('Prof. Dr','doc2','Blasco','#')
				+doc('Prof. Dr','doc2','Blasco','#')
				+doc('Prof. Dr','doc1','Blasco','#')

		section.doctores
			h3 Nutricionista
			.doctores-wrapper
				+doc('Prof. Dr','doc2','Blasco','#')
				+doc('Prof. Dr','doc1','Blasco','#')
				+doc('Prof. Dr','doc2','Blasco','#')
				+doc('Prof. Dr','doc1','Blasco','#')
