include blockquote 
section.sedes
	article.sede
		.cont-txt
			h2 INSTITUTO CODAS THOMPSON 
			p Avenida Mariscal Francisco Solano López 2955, Asunción, Paraguay.
			p 
				strong Para turnos:
				| +595 21 600 624
		.mapa#codasThompson
	hr
	article.sede
		.cont-txt
			h2 SANATORIO BRITÁNICO
			p Oliva 685 esq O´leary. Asunción, Paraguay.
			p 
				strong Para turnos:
				| +595 21 418 0002
		.mapa#sanatorioBritanico
	hr
	article.sede
		.cont-txt
			h2 CONSULTORIO MÉDICO GÉNESIS
			p Edificio Médico Génesis:
			p 22 de Setiembre y Mcal. Estigarribia, Asunción
			p 
				strong Para turnos:
				| +595 21 228 560/4
		.mapa#consultorioGenesis
	hr
