include blockquote 
section.servicios
	article.servicio.is-hidden
		h3: span VIDEO ENDOSCOPÍA DIGESTIVA ALTA. DIAGNÓSTICA & TERAPÉUTICA
		.cont-txt
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus quibusdam distinctio eaque corrupti excepturi odit quidem, error magni rerum veritatis modi rem, soluta in unde dolores numquam. Voluptatum facilis, ut.
	article.servicio.is-hidden
		h3.title: span VIDEO COLONOSCOPÍA. DIAGNÓSTICA & TERAPÉUTICA
		.cont-txt
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam aliquid qui sed laborum necessitatibus laboriosam facilis illum, molestias optio dolorem vero debitis earum ratione aliquam doloremque ipsam, quia. Autem, perferendis.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam aliquid qui sed laborum necessitatibus laboriosam facilis illum, molestias optio dolorem vero debitis earum ratione aliquam doloremque ipsam, quia. Autem, perferendis.
	article.servicio.is-hidden
		h3.title: span COLANGIOGRAFÍA ETROGRADA ENDOSCÓPICA. DIAGNÓSTICA & TERAPÉUTICA
		.cont-txt
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, accusamus, adipisci, quam dolorem blanditiis beatae voluptatum quasi dolores optio vero maxime nam sint veniam odit, quidem molestias porro officia fuga.
	article.servicio.is-hidden
		h3.title: span ESTUDIOS BARIÁTRICOS
		.cont-txt
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est dolorem tempore ipsa rerum voluptatibus, cumque, vero maxime obcaecati, consectetur voluptas facere? Necessitatibus, voluptatibus repellat iure atque maxime facere fugiat sit?
	article.servicio.is-hidden
		h3.title: span BALÓN INTRAGÁSTRICO
		.cont-txt
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, recusandae laboriosam veritatis vero sint fuga aperiam sit accusamus dolorum rem eaque ipsa eum est praesentium dicta neque ut non aspernatur?
	article.servicio.is-hidden
		h3.title: span ESTUDIOS ENDOSCÓPICOS DE ALTA COMPLEJIDAD
		.cont-txt
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus sapiente, tenetur culpa blanditiis similique reiciendis aspernatur. Corporis sint quod perspiciatis provident ducimus, aperiam, vero sunt facilis dolore unde praesentium quam.
