section.slide
	.pictures
		.picture
			figure: +img('slide/','dortor','jpg')
			.cont-txt.R
				h3 LÍDER EN  GASTROENTEROLOGÍA Y ENDOSCOPÍA
		.picture
			figure: +img('slide/','salud-preventiva','jpg')
			.cont-txt.L
				//- h3 SALUD PREVENTIVA
				//- p Dedicado a la prevención y atención de pacientes con enfermedades digestivas, a la capacitación de especialistas - en un marco de permanente actualización tecnológica y científica
		.picture
			figure: +img('slide/','fapasa','jpg')
			.cont-txt.L
				//- h3 FARMACEUTICA PARAGUAYA
				//- p FAPASA es una empresa farmacéutica dedicada al desarrollo, a la producción y a la comercialización de productos de uso humano, con un equipo de personas altamente motivadas, capacitadas e identificadas con la misma.