section.slide
	.pictures
		.picture
			figure: +img('','dortor','jpg')
			.cont-txt
				h3 LÍDER EN  GASTROENTEROLOGÍA Y ENDOSCOPÍA
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum erat et nisl faucibus placerat. Fusce a ex nec erat elementum ullamcorper. Maecenas viverra ac massa vel laoreet. Quisque ut leo condimentum tellus lobortis suscipit. Nulla fringilla erat ante, non mattis augue accumsan vitae.
		.picture
			figure: +img('','dortor','jpg')
			.cont-txt
				h3 LÍDER EN  GASTROENTEROLOGÍA Y ENDOSCOPÍA
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum erat et nisl faucibus placerat. Fusce a ex nec erat elementum ullamcorper. Maecenas viverra ac massa vel laoreet. Quisque ut leo condimentum tellus lobortis suscipit. Nulla fringilla erat ante, non mattis augue accumsan vitae.
		.picture
			figure: +img('','dortor','jpg')
			.cont-txt
				h3 LÍDER EN  GASTROENTEROLOGÍA Y ENDOSCOPÍA
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum erat et nisl faucibus placerat. Fusce a ex nec erat elementum ullamcorper. Maecenas viverra ac massa vel laoreet. Quisque ut leo condimentum tellus lobortis suscipit. Nulla fringilla erat ante, non mattis augue accumsan vitae.
		.picture
			figure: +img('','dortor','jpg')
			.cont-txt
				h3 LÍDER EN  GASTROENTEROLOGÍA Y ENDOSCOPÍA
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum erat et nisl faucibus placerat. Fusce a ex nec erat elementum ullamcorper. Maecenas viverra ac massa vel laoreet. Quisque ut leo condimentum tellus lobortis suscipit. Nulla fringilla erat ante, non mattis augue accumsan vitae.