include ../_mixins/base

doctype html
html(lang='Es-Py')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    block title
      title Grupo CB
      meta(name='description', content='Grupo CB')

    meta(name='autor', content='Fincreativo')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block fuente
      +g-font('Open+Sans','400,400italic,700')
      +g-font('PT+Sans+Narrow','400')

    link(rel='stylesheet', href='assets/css/main.css')

  body
    <!--[if lt IE 8]>
    p.browserupgrade.
      Estas usando un nevegador <strong>viejo</strong>.
      Por favor <a href="http://browsehappy.com/">actualiza tu navegador</a> para mejorar tu experiencia.
    <![endif]-->

    .wrapper
      include ../_includes/header
      include ../_includes/nav
      include ../_includes/slide
      main.main
        block body
      include ../_includes/footer
    
    script(type='text/javascript',src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(type='text/javascript',src='https://maps.googleapis.com/maps/api/js')
    script(type='text/javascript',src='assets/js/jquery.colorbox-min.js')
    script(type='text/javascript',src='assets/js/responsiveslides.min.js')
    script(type='text/javascript',src='assets/js/owl.carousel.min.js')
    //- script(type='text/javascript',src='assets/js/jquery.okayNav-min.js')
    script(type='text/javascript',src='assets/js/functions.min.js')